{% extends "studypath/base.html" %}

{% block content %}
<div class="page-container">

    <div class="learn-info">
        <h2>Stage {{ stage }}: Learn</h2>
        {% for test in testlist %}
        <p>{{ test }}</p>
        {% endfor %}
    </div>

    
    {% if words|length > 0 %}
        <div class="learn-box-container">
            <div class="learn-card-container">
                <h3>Articles & Nouns</h3>
                {% for article in articles %}
                <div class="learn-card">
                    <p class="learn-word-eng">{{ article.eng_word }}</p>
                    <p class="learn-word-spa">{{ article.spa_word }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="learn-card-container">
                <h3>Pronouns</h3>
                {% for pronoun in pronouns %}
                <div class="learn-card">
                    <p class="learn-word-eng">{{ pronoun.eng_word }}</p>
                    <p class="learn-word-spa">{{ pronoun.spa_word }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="learn-card-container">
                <h3>Adjectives</h3>
                {% for adjective in adjectives %}
                <div class="learn-card">
                    <p class="learn-word-eng">{{ adjective.eng_word }}</p>
                    <p class="learn-word-spa">{{ adjective.spa_word }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="learn-all-container">
            <h5>Full List</h5>
            <div class="learn-all-card">
                {% for word in words %}
                <p class="learn-all-word">{{ word.id }}: {{ word.eng_word }} - {{ word.spa_word }} - {{ word.grammar_type }} - {{ word.date_created }}</p>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Nothing to display yet...</p>
    {% endif %}

    
    
</div>

{% load static %}
<script src="{% static 'studypath/js/learn.js' %}"></script>
    
{% endblock content %}