{% extends "studypath/base.html" %}

{% block content %}
<div class="page-container">

    <div class="learn-info">
        <h2>Stage {{ stage }}: Learn</h2>
    </div>

    <div class="learn-box-container">
        {% for sl in study_list %}
            <button class="link-btn">{{ sl.grammar_type }}</button>
        {% endfor %}
    </div>

    <div class="learn-box-container">
        <div class="learn-card">
            <p class="learn-word-spa" id="spaWord">Spanish Word</p>
            <p class="learn-word-eng" id="engWord">English Word</p>
            <div class="input-container">
                <input type="text" class="input-user" id="userAns" placeholder="Type here...">
                <button class="link-btn" id="userSubmit">Next</button>
            </div>
        </div>
    </div>
    
    {% if study_list|length > 0 %}
        <div class="learn-box-container">

            {% for sl in study_list %}

                {% if sl.words|length > 0 %}
                <div class="learn-card-container">
                    <h3>{{ sl.grammar_type }}</h3>
                    
                    {% for word in sl.words %}
                    <div class="learn-card" id="{{ words.id }}">
                        {% comment %} <p>{{ word.grammar_type }}</p> {% endcomment %}
                        <span id="engWord">{{ word.eng_word }}</span>
                        <span id="spaWord">
                            {{ word.fre_word }}
                            {% if word.fre_word_fem %}
                                / {{ word.fre_word_fem }} 
                            {% endif %}</span>
                            {% comment %} <div class="learn-inputs-box">
                                <div>{{ word.eng_word }}</div>
                                <input type="text" />
                            </div> {% endcomment %}
                    </div>
                    {% endfor %}

                </div>
                {% endif %}
                
            {% endfor %}

    
    {% else %}
        <p>Nothing to display yet...</p>
    {% endif %}

    
    
</div>

{% load static %}
<script src="{% static 'studypath/js/learn.js' %}"></script>

    
{% endblock content %}